<!--
		==========================
		== BEGIN HEADER CONTENT ==
		==========================
		-->
<header id="main-header" class="the-header the-origin-header header-navbar">
    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
			        	<span class="icon-menu5"></span>
            </button>
            <!-- Your Logo -->
            <a href="https://tiffanyandkelvin.firebaseapp.com/" class="navbar-brand logo tak-navbar-brand">
                Tiffany & Kelvin
            </a>

        </div> <!--/ .navbar-header -->

        <!-- BEGIN NAVBAR -->
        <div id="navbar" class="collapse navbar-collapse">

            <ul class="navbar-nav all-caps pull-right">
                <li class="current"><a href="#hero" data-toggle="collapse" data-target="#navbar">Home</a></li>
                <li><a href="#introduction" data-toggle="collapse" data-target="#navbar">Wedding</a></li>
                <li><a href="#our-speakers" data-toggle="collapse" data-target="#navbar">About Us</a></li>
                <li><a href="#pricing" data-toggle="collapse" data-target="#navbar">Visitor Info</a></li>
                <li><a href="#schedule" data-toggle="collapse" data-target="#navbar">Schedule</a></li>
                <li><a href="#customer-story" data-toggle="collapse" data-target="#navbar">Gallery</a></li>
                <li><a class="external" ui-sref="rsvp-code">RSVP</a></li>
            </ul> <!--/ .navbar-nav -->

        </div>
        <!--/ END NAVBAR -->

    </div> <!--/ .container -->
</header>
<!--
=========================
==/ END HEADER CONTENT ==
=========================
-->


<!--
========================
== BEGIN MAIN CONTENT ==
========================
-->
<main id="main-content" class="event-layout layout-with-navbar"> <!-- margin value is the height of your footer -->

    <!--
    ========================
    == BEGIN HERO SECTION ==
    ========================
    -->

    <section id="hero" class="">
        <div class="container">

            <div class="vertical-center-wrapper">
                <div class="vertical-center-table">
                    <div class="vertical-center-content">

                        <!-- BEGIN Hero Content -->
                        <div class="hero-content row">
                            <div class="col-lg-8">

                                <p class="lead all-caps text-shadow-small" data-sr="enter right over 1s and move 50px wait 0.1s">Welcome to our wedding website</p>

                                <h1 class="all-caps text-shadow-medium" data-sr="enter right over 1s and move 50px wait 0.1s">Tiffany & Kelvin</h1>

                                <div class="event-hero-info text-shadow-small" data-sr="enter right over 1s and move 50px wait 0.1s">
                                    <small>
                                        <span class="event-hero-icon icon-calendar2"></span>
                                        December 18, 2016
                                    </small>
                                    <small>
                                        <span class="event-hero-icon icon-library"></span>
                                        Las Vegas, Nevada
                                    </small>
                                </div> <!--/ .event-hero-info -->

                                <div data-sr="enter right over 1s and move 50px wait 0.1s">
                                    <a class="scroll-to cta cta-default all-caps external" rel="vimeo" ui-sref="rsvp-code">RSVP</a>
                                </div>

                            </div>
                        </div>
                        <!-- END Hero Content -->

                    </div> <!--/ .vertical-center-content -->
                </div> <!--/ .vertical-center-table -->
            </div> <!-- / .vertical-center-wrapper -->

        </div> <!--/ .container -->
    </section>

    <!--
    =======================
    ==/ END HERO SECTION ==
    =======================
    -->

    <!--
    ===============================
    == BEGIN TOP CLIENT SECTION  ==
    ===============================
    -->
    <section id="top-client" class="centered">

        <div class="container">
            <div class="row">

                <!-- BEGIN Client Logo -->
                <div class="client-logo">
                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">
                        <a role="button" ng-click="vm.openEdytaGallery(0)"><img src="../../images/thumbnail-strip/0003.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(1)"><img src="../../images/thumbnail-strip/0020.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(2)"><img src="../../images/thumbnail-strip/0039.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(3)"><img src="../../images/thumbnail-strip/0051.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(4)"><img src="../../images/thumbnail-strip/0116.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(5)"><img src="../../images/thumbnail-strip/0147.jpg"/></a>

                    </div> <!--/ .the-logo -->

                </div> <!--/ .client-logo -->
                <!-- END Client Logo -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    =============================
    ==/ END TOP CLIENT SECTION ==
    =============================
    -->


    <!--
    ==============================
    == BEGIN INTRODUCTION SECTION ==
    ==============================
    -->
    <section id="introduction" class="centered">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                    <p class="section-title">The Wedding</p>

                    <h2 class="section-heading">Flamingo Las Vegas</h2>

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <div class="col-lg-10 col-lg-offset-1">

                    <p><strong>Ceremony</strong> 3:00 PM
                        <br>The Gazebo Chapel
                        <br><a href="https://www.google.com/maps/place/Flamingo+Las+Vegas/@36.1161222,-115.1746787,17z/data=!3m1!5s0x80c8c4397be7225b:0xa1d65d6b44b7f5db!4m12!1m6!3m5!1s0x80c8c43bca8fd755:0x645b9d40c4e2ea75!2sFlamingo+Las+Vegas!8m2!3d36.1161179!4d-115.17249!3m4!1s0x80c8c43bca8fd755:0x645b9d40c4e2ea75!8m2!3d36.1161179!4d-115.17249" target="_blank">3555 S Las Vegas Blvd, Las Vegas, NV 89109</a>
                    </p>

                </div><!--/ .col-lg-10 -->

                <div class="clearfix"></div>

                <h2 class="section-heading">The Sparklings</h2>

                <div class="clearfix"></div>

                <div class="col-lg-10 col-lg-offset-1">

                    <p><strong>Reception</strong> 6:00 PM
                        <br><a href="https://www.google.com/maps/place/The+Sparklings+Barstaurant/@36.0373815,-115.2451744,17z/data=!3m1!4b1!4m5!3m4!1s0x80c8c87b67fdfedb:0x5d2729bc46470904!8m2!3d36.0373772!4d-115.2429857" target="_blank">8310 S Rainbow Blvd #100, Las Vegas, NV 89139</a>
                    </p>

                </div><!--/ .col-lg-10 -->
                <div class="clearfix"></div>

                <div class="clearfix"></div>

                <div class="browser-mockup-wrapper" ng-if="vm.mapsApiFailed">
                    <iframe  src="https://www.google.com/maps/d/embed?mid=1O9YLu2vN-qfLlEJTO6gsjSN5FYI" width="640" height="480"></iframe>
                </div>
                <div class="col-lg-12" ng-if="!vm.mapsApiFailed">
                    <div class="row">
                        <div class="col-lg-4">
                            <div id="right-panel"></div>
                        </div>
                        <div class="col-lg-8">
                            <div  id="googleMap"></div>
                        </div>
                    </div>
                </div>
            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <br>
    <!--
    =============================
    ==/ END INTRODUCTION SECTION ==
    =============================
    -->


    <!--
    ================================
    == BEGIN HOW IT WORKS SECTION ==
    ================================
    -->
    <section id="how-it-works" class="gray-bg centered">

        <div class="container-full">
            <div class="row">

                <!-- BEGIN How it Works Column -->
                <ul class="how-it-works-col">

                    <li class="col-lg-4 col-md-4 col-sm-4 how-it-works-li">
                        <!--<div class="how-it-works-title">-->
                            <!--<h4>How We Met</h4>-->
                        <!--</div>-->

                        <div class="how-it-works-info">

                            <h4>How We Met</h4>
                            <p><strong>2012:</strong>
                                Tiffany and Kelvin were coworkers on the same team. Kelvin made the first move. The first date consisted of a lakeside French dinner at Marche Bacchus, ice skating at The Cosmopolitan, and watching 'Blades of Glory' movie (to continue the night's ice skating theme).
                            </p>
                        </div> <!--/ .how-it-works-info -->
                    </li> <!--/ .one-third-col -->

                    <li class="col-lg-4 col-md-4 col-sm-4 how-it-works-li">
                        <!--<div class="how-it-works-title">-->

                            <!--&lt;!&ndash;<img src="images/pencil-icon.png" alt="Fully Responsive" data-sr="enter bottom over 1s and move 80px wait 0.5s">&ndash;&gt;-->
                            <!--<h4>The Proposal</h4>-->

                        <!--</div> &lt;!&ndash;/ .how-it-works-title &ndash;&gt;-->

                        <div class="how-it-works-info">

                            <h4>The Proposal</h4>
                            <p><strong>January 9, 2016:</strong> Kelvin took Tiffany out to dinner at Raku for their third anniversary, and planned for dessert back at home with a surprise. Tiffany unfortunately ate too much during dinner, and delayed having dessert for a couple of hours. The anxious but patient Kelvin eventually popped the question with a Sprinkles cupcake paired with the stellar ring.</p>

                        </div> <!--/ .how-it-works-info -->
                    </li> <!--/ .one-third-col -->

                    <li class="col-lg-4 col-md-4 col-sm-4 how-it-works-li">
                        <!--<div class="how-it-works-title">-->

                            <!--&lt;!&ndash;<img src="images/book-icon.png" alt="Fully Responsive" data-sr="enter bottom over 1s and move 80px wait 0.7s">&ndash;&gt;-->
                            <!--<h4>The Wedding</h4>-->

                        <!--</div> &lt;!&ndash;/ .how-it-works-title &ndash;&gt;-->

                        <div class="how-it-works-info">

                            <h4>The Wedding</h4>
                            <p><strong>December 18, 2016:</strong>
                                The Flamingo Hotel & Casino is sentimental, as it is where Tiffany and Kelvin first met and worked together. Tiffany also likes to watch the turtles at the Flamingo's Wildlife Habitat. The Sparklings is an exquisite restaurant that hosted many of Tiffany's family's events and gatherings over the years.
                            </p>

                            <!-- <a href="#0" class="cta cta-default all-caps">Purchase Now</a> -->

                        </div> <!--/ .how-it-works-info -->
                    </li> <!--/ .one-third-col -->


                </ul>
                <!--/ END How it Works Column -->

            </div> <!--/ .row -->
        </div> <!--/ .container-full -->

    </section>
    <!--
    ===============================
    ==/ END HOW IT WORKS SECTION ==
    ===============================
    -->


    <!--
    ================================
    == BEGIN OUR SPEAKERS SECTION ==
    ================================
    -->
    <section id="our-speakers">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                    <p class="section-title">About Us</p>

                    <h2 class="section-heading">Meet the Wedding Party</h2>

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <ul id="team_grid">

                    <li class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item">

                        <div class="team-item-content">

                            <img src="/images/wedding-party/tiffany.jpg" alt="Team Photo"/>

                            <div class="team-info centered">

                                <h6>Tiffany Chau</h6>
                                <small>The Bride<br/><br class="visible-lg visible-xs"/>She enjoys practicing yoga, loves her pet turtle, Pi, and is constantly hungry.</small>


                            </div> <!--/ .team-info -->

                        </div> <!--/ .team-item-content -->

                    </li> <!--/ .team-item -->

                    <li class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item">

                        <div class="team-item-content">

                            <img src="/images/wedding-party/kelvin.jpg" alt="Team Photo"/>

                            <div class="team-info centered">

                                <h6>Kelvin Dealca</h6>
                                <small>The Groom<br/><br class="visible-lg visible-xs"/>He enjoys coding, reading books, and watching historical documentaries.</small>


                            </div> <!--/ .team-info -->

                        </div> <!--/ .team-item-content -->

                    </li> <!--/ .team-item -->

                    <li class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item">

                        <div class="team-item-content">

                            <img src="/images/wedding-party/maishia-2.jpg" alt="Team Photo"/>

                            <div class="team-info centered">

                                <h6>Maishia Toguchi</h6>
                                <small>Maid of Honor<br/><br class="visible-lg visible-xs"/>She is Tiffany's former college roommate. She enjoys spending time with her significant other and going on motorcycle rides.</small>


                            </div> <!--/ .team-info -->

                        </div> <!--/ .team-item-content -->

                    </li> <!--/ .team-item -->

                    <li class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item">

                        <div class="team-item-content">

                            <img src="/images/wedding-party/jc.jpg" alt="Team Photo"/>

                            <div class="team-info centered">

                                <h6>JC Chipeco</h6>
                                <small>Best Man<br/><br class="visible-lg visible-xs"/>He is Kelvin's former high school classmate. He enjoys drinking wine while having philosophical debates.</small>


                            </div> <!--/ .team-info -->

                        </div> <!--/ .team-item-content -->

                    </li> <!--/ .team-item -->

                    <li class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item">

                        <div class="team-item-content">

                            <img src="/images/wedding-party/emily.jpg" alt="Team Photo"/>

                            <div class="team-info centered">

                                <h6>Emily Chau</h6>
                                <small>Bridesmaid<br/><br class="visible-lg visible-xs"/>She is Tiffany's sister. She enjoys playing the violin and PC games.</small>


                            </div> <!--/ .team-info -->

                        </div> <!--/ .team-item-content -->

                    </li> <!--/ .team-item -->

                    <li class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item">

                        <div class="team-item-content">

                            <img src="/images/wedding-party/diego-3.jpg" alt="Team Photo"/>

                            <div class="team-info centered">

                                <h6>Diego Dabao</h6>
                                <small>Groomsman<br/><br class="visible-lg visible-xs"/>He is Kelvin's former high school classmate. He enjoys all things related to cars, especially the high performance ones.</small>


                            </div> <!--/ .team-info -->

                        </div> <!--/ .team-item-content -->

                    </li> <!--/ .team-item -->

                    <li class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item">

                        <div class="team-item-content">

                            <img src="/images/wedding-party/callie-natalie.jpg" alt="Team Photo"/>

                            <div class="team-info centered">

                                <h6>Callie Romero & Natalie Grant</h6>
                                <small>Flower Girls<br/><br class="visible-lg visible-xs"/>They are Kelvin's nieces. Callie likes eating salmon roe at Japanese restaurants, and Natalie likes to walk around while carrying all her toys in her arms.</small>


                            </div> <!--/ .team-info -->

                        </div> <!--/ .team-item-content -->

                    </li> <!--/ .team-item -->

                    <li class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 team-item">

                        <div class="team-item-content">

                            <img src="/images/wedding-party/nathan.jpg" alt="Team Photo"/>

                            <div class="team-info centered">
                                <h6>Nathan Romero</h6>
                                <small>Ring Bearer<br/><br class="visible-lg visible-xs"/>He is Kelvin's nephew. He likes playing with his little sister, Callie.</small>

                            </div> <!--/ .team-info -->

                        </div> <!--/ .team-item-content -->

                    </li> <!--/ .team-item -->

                </ul> <!--/ #team_grid -->

                <div class="clearfix"></div>

                <!--
                                        <div class="col-lg-12 centered margin-top-20">
                                            <a href="#0" class="cta cta-default all-caps">All Speakers</a>
                                        </div>
                -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    ===============================
    ==/ END OUR SPEAKERS SECTION ==
    ===============================
    -->


    <!--
    ===========================
    == BEGIN COUNTER SECTION ==
    ===========================
    -->
    <section id="counter" class="breaking centered" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-400">

        <div class="color-overlay">

            <div class="breaking-content">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 centered">

                            <h4>Tiffany and Kelvin are getting married in:</h4>

                            <ul class="countdown-timer center"></ul> <!-- This will display countdown timer -->

                        </div> <!--/ .col-lg-12 -->


                    </div> <!--/ .row -->
                </div> <!--/ .container -->

            </div> <!--/ .breaking-content -->

        </div> <!--/ .color-overlay -->

    </section>
    <!--
    ==========================
    ==/ END COUNTER SECTION ==
    ==========================
    -->


    <!--
    ===========================
    == BEGIN PRICING SECTION ==
    ===========================
    -->
    <section id="pricing" class="centered">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                    <p class="section-title">Visitor Information</p>

                    <h2 class="section-heading">Welcome to Fabulous Las Vegas</h2>

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <!-- BEGIN Pricing Table -->
                <ul class="pricing">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <li class="price" data-sr="enter bottom over 1s and move 80px wait 0.2s">

                            <h5 class="price-title">Venue Details</h5>
                            <!-- <div class="price-amount">$25</div> -->
                            <ul class="price-feature">
                                <li>The ceremony will be held outdoors in the Gazebo Chapel. The Gazebo Chapel is located in the Flamingo Gardens (same area as the Wildlife Habitat and pool).</li>
                                <li>The reception will be held indoors.</li>
                                <li>Free parking is available at both ceremony and reception venues.</li>
                                <li>Average temperatures in December: High of 58°F (14°C), Low of 34°F (1°C).</li>
                            </ul> <!--/ .price-feature -->
                            <!-- <a href="#0" class="price-button all-caps">Buy Now</a> -->

                        </li> <!--/ .price -->
                    </div> <!--/ .col-lg-3 -->

                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <li class="price" data-sr="enter bottom over 1s and move 80px wait 0.3s">

                            <h5 class="price-title">Attire & Etiquette</h5>
                            <!-- <div class="price-amount">$35</div> -->
                            <ul class="price-feature">
                                <li>Dress code is semi-formal to formal.</li>
                                <li>Please dress accordingly for the ceremony, as it will be outdoors.</li>
                                <li>The ceremony will start promptly as scheduled. Please arrive on time.</li>
                                <li>Personal photography is allowed. However, please be courteous and do not hinder the wedding photographer.</li>
                            </ul> <!--/ .price-feature -->
                            <!-- <a href="#0" class="price-button all-caps">Buy Now</a> -->

                        </li> <!--/ .price -->
                    </div> <!--/ .col-lg-3 -->

                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <li class="price" data-sr="enter bottom over 1s and move 80px wait 0.4s">

                            <h5 class="price-title">Accommodation & Transportation</h5>
                            <!-- <span class="best-value-label">best value</span>
                            <div class="price-amount">$50</div> -->
                            <ul class="price-feature">
                                <li>A limited number of rooms are available through our room block at the Flamingo. Reservations can be made <a href ="http://www.totalrewards.com/hotel-reservations?propCode=FLV&groupCode=VF3TCK6" target="_blank">online</a> or by calling the reservations department at 888-373-9855. Please mention group code <i>VF3TCK6</i> and ask for the <i>"Tiffany Chau and Kelvin Dealca Wedding"</i> room block.
                                    <a role="button" ng-click="vm.openRoomBlockModal()">More details.</a></li>
                                <li><a href ="http://www.totalrewards.com/vegasvacation/" target="_blank">Friends & Family rates</a> are available if you are interested in staying at other properties on The Strip.</li>
                                <li>A car is the most convenient way to get around town, and most parking is free. Taxi, Uber, or Lyft services are also available.</li>
                                <!-- <li>Sed blandit non mi <span class="price-label">Free</span></li> -->
                            </ul> <!--/ .price-feature -->
                            <!-- <a href="#0" class="price-button all-caps">Buy Now</a> -->

                        </li> <!--/ .price -->
                    </div> <!--/ .col-lg-3 -->

                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <li class="price" data-sr="enter bottom over 1s and move 80px wait 0.5s">

                            <h5 class="price-title">Things To Do</h5>
                            <!-- <div class="price-amount">$75</div> -->
                            <ul class="price-feature">
                                <li>Curious about where Tiffany and Kelvin like to eat at, or what to do in Las Vegas? Check out the following lists:</li>
                                <li><a href="https://drive.google.com/open?id=1UssTf8osZbeaGkkFtjsUQBaAxzw&usp=sharing" target="_blank">Foodie Picks</a></li>
                                <li><a href="https://www.google.com/maps/d/u/0/edit?mid=12Bvw5qnCnvy8_7N01xda7ojFkvo" target="_blank">Attractions</a></li>
                            </ul> <!--/ .price-feature -->
                            <!-- <a href="#0" class="price-button all-caps">Buy Now</a> -->

                        </li> <!--/ .price -->
                    </div> <!--/ .col-lg-3 -->

                </ul> <!--/ .pricing -->
                <!--/ END Pricing Table -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    ==========================
    ==/ END PRICING SECTION ==
    ==========================
    -->


    <!--
    =======================
    == BEGIN TAB SECTION ==
    =======================
    -->
    <section id="schedule" class="gray-bg">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 centered">

                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                        <p class="section-title">Schedule of Events</p>

                        <!-- <h2 class="section-heading">Check back for any new events or additional details!</h2> -->

                    </div> <!--/ .col-lg-8 -->

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <!-- BEGIN Section Tab -->
                <div class="section-tab schedule-tab" role="tabpanel">

                    <!-- BEGIN Nav tabs -->
                    <!-- <ul class="nav nav-tabs centered" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#one" aria-controls="one" role="tab" data-toggle="tab">
                                Day One <span class="event-date">21 September 2016</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#two" aria-controls="two" role="tab" data-toggle="tab">
                                Day Two <span class="event-date">22 September 2016</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#three" aria-controls="three" role="tab" data-toggle="tab">
                                Day Three <span class="event-date">23 September 2016</span>
                            </a>
                        </li>
                    </ul> -->
                    <!--/ END Nav tabs -->

                    <!-- BEGIN Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade in active" id="one">

                            <!-- BEGIN Fourth Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="/images/itinerary/traditional-chinese-wedding-tea-ceremony-sets-double-happiness-paper-cut-cba760e12872f7e4a7bb42738aa39ce0.jpg" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> 11.00 AM - 12.00 PM
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> Tiffany's Parents' Residence
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Tea Ceremony</h4>

                                            <p><i>For family members and relatives of Tiffany.</i> <br>Friends and wedding guests of the bride and groom are welcome to witness a traditional Chinese tea ceremony; however, it will be a more intimate affair. If interested in attending, please contact Tiffany for the address.</p>

                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> Phil Rowton, Adolph Coday -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END Fourth Session -->

                            <!-- BEGIN Session Break -->
                            <div class="session-break centered">

                                <div class="row">

                                    <div class="col-lg-12">

                                        <div class="session-description">

                                            <div class="session-break-time">
                                                <span class="icon-clock4"></span> 12:00 PM - 3:00 PM
                                            </div> <!--/ .session-break-time -->

                                            <h4 class="session-break-title">Break & Commute to Wedding Ceremony</h4>

                                        </div> <!--/ .session-description -->

                                    </div> <!-- col-lg-8 -->

                                </div> <!--/ .row -->

                            </div>
                            <!--/ END Session Break -->

                            <!-- BEGIN First Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="/images/itinerary/gazebo.jpg" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> 3:00 PM - 4:00 PM
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> Gazebo Chapel at the Flamingo
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Wedding Ceremony</h4>

                                            <p>Witness Tiffany and Kelvin say "I do" and get married!</p>

                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> John Doe, Kandy Kahre -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END First Session -->

                            <!-- BEGIN Second Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="images/itinerary/flamingos-2.jpg" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> 4:00 PM - 5.00 PM
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> Flamingo Gardens
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Post-Ceremony Pictures</h4>

                                            <p><i>Photography session for bride, groom, wedding party, and immediate families only.</i> <br>Relatives, friends, and wedding guests will have an opportunity to take pictures with the bride and groom during the reception.</p>

                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> Salvatore Haycock -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END Second Session -->

                            <!-- BEGIN Session Break -->
                            <div class="session-break centered">

                                <div class="row">

                                    <div class="col-lg-12">

                                        <div class="session-description">

                                            <div class="session-break-time">
                                                <span class="icon-clock4"></span> 4:00 PM - 6:00 PM
                                            </div> <!--/ .session-break-time -->

                                            <h4 class="session-break-title">Break & Commute to Reception</h4>

                                        </div> <!--/ .session-description -->

                                    </div> <!-- col-lg-8 -->

                                </div> <!--/ .row -->

                            </div>
                            <!--/ END Session Break -->

                            <!-- BEGIN Third Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="/images/itinerary/sparklings.jpg" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> 6:00 PM - 9:00 PM
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> The Sparklings
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Reception</h4>

                                            <p>Eat, drink, dance, and celebrate!</p>

                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> August Brunk, Jessenia Gillis, Adolph Coday -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END Third Session -->



                        </div><!-- First Tab Pane -->

                    </div>
                    <!--/ END Tab panes -->

                </div>
                <!--/ END Section Tab -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    ======================
    ==/ END TAB SECTION ==
    ======================
    -->

    <!--
    ==================================
    == BEGIN CUSTOMER STORY SECTION ==
    ==================================
    -->
    <section id="customer-story" class="gray-bg centered">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                    <p class="section-title">Gallery</p>

                    <h2 class="section-heading">Engagement Session</h2>

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <!-- BEGIN Customer Logo and Testimonials -->
                <div class="customer-box-wrapper centered margin-bot-35">

                    <ul class="customer-logos">

                        <!-- BEGIN 1st Logo -->
                        <li class="engagement-horizontal">
                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo" src="../../images/engagement/_REN1339-Edit.jpg"
                                            ng-click="vm.openRenGallery(0)"/>

                                    </div>
                                </div>
                            </div> <!--/ .vertical-center-wrapper -->

                        </li>
                        <!--/ END 1st Logo -->

                        <!-- BEGIN 2nd Logo -->
                        <li class="center-customer-logo engagement-horizontal">
                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo" src="../../images/engagement/_REN1369-Edit.jpg"
                                             ng-click="vm.openRenGallery(1)"/>

                                    </div>
                                </div>
                            </div> <!--/ .vertical-center-wrapper -->

                        </li>
                        <!-- END 2nd Logo -->

                        <!-- BEGIN 3rd Logo -->
                        <li class="engagement-horizontal">
                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo" src="../../images/engagement/_REN1656.jpg"
                                             ng-click="vm.openRenGallery(2)"/>

                                    </div>
                                </div>
                            </div> <!--/ .vertical-center-wrapper -->
                        </li>
                        <!-- END 3rd Logo -->

                    </ul> <!--/ .customer-logos -->

                    <hr>

                    <ul class="customer-logos">

                        <!-- BEGIN 4th Logo -->
                        <li class="engagement-vertical">
                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo" src="../../images/engagement/_REN1690-Edit.jpg"
                                             ng-click="vm.openRenGallery(3)"/>

                                    </div>
                                </div>
                            </div> <!--/ .vertical-center-wrapper -->
                        </li>
                        <!-- END 4th Logo -->

                        <!-- BEGIN 5th Logo -->
                        <li class="center-customer-logo engagement-vertical">
                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo" src="../../images/engagement/_REN1708-Edit.jpg"
                                             ng-click="vm.openRenGallery(4)"/>

                                    </div>
                                </div>
                            </div> <!--/ .vertical-center-wrapper -->
                        </li>
                        <!-- END 5th Logo -->

                        <!-- BEGIN 6th Logo -->
                        <li class="engagement-vertical">
                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo" src="../../images/engagement/_REN1722-Edit.jpg"
                                             ng-click="vm.openRenGallery(5)"/>

                                    </div>
                                </div>
                            </div> <!--/ .vertical-center-wrapper -->
                        </li>
                        <!-- END 6th Logo -->

                    </ul> <!--/ .customer-logos -->

                    <hr>

                    <ul class="customer-logos">

                        <!-- BEGIN 7th Logo -->
                        <li class="engagement-vertical">
                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo" src="../../images/engagement/_REN1788.jpg"
                                             ng-click="vm.openRenGallery(6)"/>

                                    </div>
                                </div>
                            </div> <!--/ .vertical-center-wrapper -->
                        </li>
                        <!-- END 7th Logo -->

                        <!-- BEGIN 8th Logo -->
                        <li class="center-customer-logo engagement-vertical">
                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo" src="../../images/engagement/_REN1800.jpg"
                                             ng-click="vm.openRenGallery(7)"/>

                                    </div>
                                </div>
                            </div> <!--/ .vertical-center-wrapper -->

                        </li>
                        <!-- END 8th Logo -->

                        <!-- BEGIN 9th Logo -->
                        <li class="engagement-vertical">
                            <div class="vertical-center-wrapper">
                                <div class="vertical-center-table">
                                    <div class="vertical-center-content">

                                        <img class="customer-logo" src="../../images/engagement/_REN1853-Edit.jpg"
                                             ng-click="vm.openRenGallery(8)"/>

                                    </div>
                                </div>
                            </div> <!--/ .vertical-center-wrapper -->

                        </li>
                        <!-- END 9th Logo -->

                    </ul> <!--/ .customer-logos -->

                </div> <!--/ .customer-box-wrapper -->
                <!--/ END Customer Logo and Testimonials -->

                <div class="clearfix"></div>

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    =================================
    ==/ END CUSTOMER STORY SECTION ==
    =================================
    -->


    <!--
    =============================
    == BEGIN FOOTER WIDGET SECTION ==
    =============================
    -->
    <section id="footer-widget-section" class="breaking" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="40">

        <div class="color-overlay">

            <div class="footer-widget-wrapper">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-2 col-md-3 col-sm-3">

                            <div class="widget text-widget">

                                <h5 class="widget-title">Registry</h5>

                                <p>Thanks for thinking of us. Your presence is all we ask for.</p>

                                <a class="more" href="https://www.amazon.com/Life-Changing-Magic-Tidying-Decluttering-Organizing/dp/1607747308/"
                                   target="_blank">
                                    Read More
                                </a>

                            </div> <!--/ .widget -->

                        </div> <!--/ .col-lg-3 -->


                        <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-1">

                            <div class="widget text-widget">

                                <h5 class="widget-title">Special Thanks</h5>

                                <p>Shoutout to some amazing people and vendors who were essential to our wedding planning. We could not have materialized our thoughts and concepts without your help.</p>

                            </div> <!--/ .widget -->

                        </div> <!--/ .col-lg-3 -->


                        <div class="col-lg-4 col-md-4 col-sm-4">

                            <div class="widget text-widget">

                                <h5 class="widget-title" style="visibility: hidden">Special Thanks</h5>

                                <p class="tak-thanks-list-item">Darbie Dealca: <a class="more"
                                                                                 href="http://www.weddingpaperdivas.com/"
                                                                                 target="_blank">Wedding Paper
                                    Divas</a></p>
                                <p class="tak-thanks-list-item">Andy Ko: <a class="more"
                                                                           href="http://www.sparklingslv.com/"
                                                                           target="_blank">
                                   The Sparklings</a></p>

                                <p class="tak-thanks-list-item">Cristina Osorio: <a class="more"
                                                                                   href="http://www.trufusionyoga.com/"
                                                                                   target="_blank">TruFusion Yoga</a>
                                </p>
                                <p class="tak-thanks-list-item">Haoyuan Ren: <a class="more"
                                                                                   href="http://www.haoyuanren.com/"
                                                                                   target="_blank">Haoyuan Ren
                                Photo</a></p>
                                <p class="tak-thanks-list-item">Edyta Sokolowska: <a class="more"
                                                                                    href="http://www.exceedphotography.com/"
                                                                                    target="_blank">Exceed
                                    Photography</a></p>

                            </div> <!--/ .widget -->

                        </div> <!--/ .col-lg-3 -->

                        <div class="col-lg-2 col-md-2 col-sm-2">

                            <div class="widget text-widget">

                                <h5 class="widget-title">Social Media</h5>

                                <p>#TiffanyandKelvin121816</p>

                                <ul class="instagram tag"></ul> <!-- Display instagram photos by hashtag -->

                            </div> <!--/ .widget -->

                        </div> <!--/ .col-lg-3 -->

                    </div> <!--/ .row -->
                </div> <!--/ .container -->

            </div> <!--/ .footer-widget-wrapper -->

        </div><!--/ .color-overlay -->
    </section>
    <!--
    ================================
    ==/ END FOOTER WIDGET SECTION ==
    ================================
    -->

</main> <!--/ #main-content -->
<!--
=======================
==/ END MAIN CONTENT ==
=======================
-->


<!--
=========================
== BEGIN TO TOP BUTTON ==
=========================
-->
<a id="to-top"><span class="icon-chevron-thin-up"></span></a>
<!--
========================
==/ END TO TOP BUTTON ==
========================
-->

