.navbar-header a.tak-navbar-brand.logo {
    height: auto;
    color: #fff;
    margin-top: -5px;
}

.team-info {
    height: 345px;
}

.team-info h6 {
    font-size: 15px;
}

.tak-thanks-list-item {
    margin-bottom: 0;
}

#hero small {
    font-family: "Varela Round", sans-serif;

}