<div class="contact-overlay">
    <a class="overlay-close" ui-sref="landing">Close</a>
    <div class="container">
        <div class="row">
            <div class="contact-content col-lg-10 col-lg-offset-1 centered">
                <h2 class="all-caps"> Répondez s'il vous plaît </h2>
                <p>Enter your RSVP code below</p>
                <!-- BEGIN Contact Form -->
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                    <form class="contact-form" id="contact-form" name="vm.form" novalidate
                          ng-submit="vm.form.$valid && vm.submit(vm.formModel)">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 tak-input-div">
                                <div class="required-field"
                                     ng-class="{'field-error': vm.form.code.$invalid && vm.form.code.$dirty}">
                                    <input name="code" class="contact-input" type="text"
                                           placeholder="RSVP Code" required ng-model="vm.formModel.code" autofocus
                                            ng-change="vm.codeWatcher(vm.formModel.code);" input-uppercase>
                                </div>
                                <span class="tak-error-message" ng-if="vm.form.code.$dirty && vm.form.code.$invalid">
                                    A code is required
                                </span>
                                <span class="tak-error-message" ng-if="vm.invalidCode && !vm.form.code.$invalid">
                                    Sorry, this code is invalid.
                                </span>
                            </div>
                            <div class="col-lg-12 col-md-12 all-caps centered">
                                <button type="submit" class="submit-button" ng-disabled="vm.form.$invalid || vm.isBusy">
                                    Submit
                                </button>
                            </div> <!--/ .col-lg-12 -->
                        </div>
                    </form> <!--/ .contact-form -->
                </div> <!--/ .col-lg-6 -->
                <!--/ END Contact Form -->
            </div> <!--/ .contact-content -->
        </div> <!--/ .row -->
    </div> <!--/ .container -->
</div> <!--/ .contact-overlay -->
