<div class="contact-overlay">
    <a class="overlay-close" ui-sref="landing">Close</a>
    <div class="container">
        <div class="row">
            <div class="contact-content col-lg-10 col-lg-offset-1 centered">
                <h2 class="all-caps"> Répondez s'il vous plaît </h2>
                <p>Enter your RSVP code below</p>
                <!-- BEGIN Contact Form -->
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                    <form class="contact-form" id="contact-form" name="vm.form" novalidate
                          ng-submit="vm.form.$valid && vm.submit(vm.formModel)">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="required-field">
                                    <input name="fname" class="contact-input" type="text"
                                           placeholder="RSVP Code" required ng-model="vm.formModel.code" autofocus>
                                </div>
                            </div>
                            <p class="tak-error-message" ng-if="vm.invalidCode">Sorry, this code is invalid.</p>
                            <!--<div class="col-lg-6 col-md-6">-->

                                <!--<input name="lname" id="lname" class="contact-input" type="text"-->
                                       <!--placeholder="Last Name">-->

                            <!--</div> &lt;!&ndash;/ .col-lg-6 &ndash;&gt;-->

                            <!--<div class="col-lg-12 col-md-12">-->

                                <!--<div class="required-field">-->
                                    <!--<input name="email" id="email" class="contact-input" type="email"-->
                                           <!--placeholder="Email Address">-->
                                <!--</div> &lt;!&ndash;/ .required-field &ndash;&gt;-->

                            <!--</div> &lt;!&ndash;/ .col-lg-12 &ndash;&gt;-->

                            <!--<div class="col-lg-12 col-md-12">-->

                                <!--<input name="subject" id="subject" class="contact-input" type="text"-->
                                       <!--placeholder="Subject">-->

                            <!--</div> &lt;!&ndash;/ .col-lg-12 &ndash;&gt;-->

                            <!--<div class="col-lg-12 col-md-12">-->

                                <!--<div class="required-field">-->
                                    <!--<textarea name="message" id="message" rows="9" placeholder="Message"></textarea>-->
                                <!--</div> &lt;!&ndash;/ .required-field &ndash;&gt;-->

                            <!--</div> &lt;!&ndash;/ .col-lg-12 &ndash;&gt;-->
                            <div class="col-lg-12 col-md-12 all-caps centered">
                                <button type="submit" class="submit-button" ng-disabled="vm.form.$invalid || vm.isBusy">
                                    Submit
                                </button>
                            </div> <!--/ .col-lg-12 -->
                        </div>
                    </form> <!--/ .contact-form -->
                </div> <!--/ .col-lg-6 -->
                <!--/ END Contact Form -->
            </div> <!--/ .contact-content -->
        </div> <!--/ .row -->
    </div> <!--/ .container -->
</div> <!--/ .contact-overlay -->
