<div class="contact-overlay">
    <a class="overlay-close" ui-sref="landing"></a>
    <div class="container">
        <div class="row">
            <div class="contact-content col-lg-10 col-lg-offset-1 centered">
                <h2 class="all-caps"> Répondez s'il vous plaît </h2>
                <p>Enter your information below</p>
                <!-- BEGIN Contact Form -->
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <form class="contact-form" id="contact-form" name="vm.form" novalidate
                          ng-submit="vm.form.$valid && vm.submit(vm.formModel)">
                        <div class="row" ng-repeat-start="p in vm.formModel">
                            <div class="col-lg-4 col-md-4 tak-input-div">
                                <div class="required-field"
                                     ng-class="{'field-error': vm.showErrors('firstName', $index)} ">
                                    <input name="firstName{{::$index}}" class="contact-input" type="text"
                                           placeholder="First Name" required ng-model="p.firstName" autofocus>
                                </div>
                                <span class="tak-error-message" ng-show="vm.showErrors('firstName', $index)">
                                    First Name is required
                                </span>
                            </div>
                            <div class="col-lg-4 col-md-4 tak-input-div">
                                <div class="required-field"
                                     ng-class="{'field-error': vm.showErrors('lastName', $index)}">
                                    <input name="lastName{{::$index}}" class="contact-input" type="text"
                                           placeholder="Last Name" required ng-model="p.lastName">
                                </div>
                                <span class="tak-error-message" ng-show="vm.showErrors('lastName', $index)">
                                    Last Name is required
                                </span>
                            </div>
                            <div class="col-lg-4 col-md-4 tak-input-div">
                                <select class="contact-input" ng-model="p.going">
                                    <option value="1">
                                        is going
                                    </option>
                                    <option value="0">
                                        is not going
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr class="hidden-lg hidden-md tak-margin-top-0" ng-repeat-end>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 all-caps centered">
                                <button type="submit" class="submit-button" ng-disabled="vm.form.$invalid || vm.isSaving">
                                    Save
                                </button>
                            </div>
                        </div>

                        </div>
                    </form> <!--/ .contact-form -->
                </div> <!--/ .col-lg-6 -->
                <!--/ END Contact Form -->
            </div> <!--/ .contact-content -->
        </div> <!--/ .row -->
    </div> <!--/ .container -->
</div> <!--/ .contact-overlay -->
<div id="success-notification" class="notif-box">
    <span class="icon-checkmark notif-icon"></span>
    <p>Thank you for your response.</p>
    <a class="notification-close" ng-click="vm.closeToast()">Close</a>
</div> <!--/ #success-notification -->